body{
    font-family: 'Lato', Arial;
}

h1 {
    text-align: center;
    font-size: 42px;
    font-family: 'Oswald';
    font-weight: 700;
}

h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
}

h3 {
    font-size: 24px;
    position: absolute;
    right: 320px;
    top: 50px;
}

a {
    text-decoration: none;
}

#nav-style {
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

li {
   text-decoration: none;
}

li a {
    
}

.switch-container {
    position: relative;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
    right: 35px;
    top: 35px;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.6s;
    z-index: -1;
}


input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    background-color: #100f12;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    transition: all 0.4s;
    cursor: pointer;
}

.slider::before {
    position: absolute;
    content: "";
    background-color: #eeebb1;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 5px;
    bottom: 5px;
    transition: 0.4s;
}

.slider::after {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background-color: #100f12;
    border-radius: 50%;
    left: -26px;
    bottom: 4px;
    transition: 0.4s;
}

input:checked + .slider::before {
    transform: translateX(40px);
}

input:checked + .slider::after {
    transform: translateX(60px);
}

#picture1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    height: 720px;
    width: 100%;
}

#nav-background {
    padding-top: 10px;
}

#header {
    display: grid;
}

#picture-holder {
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: fuchsia;
}

.member-background {
    position: relative;
    margin-bottom: 75px;
    background-color: aquamarine;
}

.member-container {
    display: flex;
    padding-left: 150px;
    padding-bottom: 50px;
}

.member-description {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    padding-left: 150px;
    padding-right: 150px;
}

.hiddenMember {
    display: none;
}

#members-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-evenly;
}

#memberbtn0 {
    background-color: white;
    padding: 15px 32px;
    font-family:'Courier New', Courier, monospace;
    font-kerning:
    border-width: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#memberbtn0:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px
}

#memberbtn0:active {
    transform: translateY(-4px);
}

.hidden-member-btn{
    background-color: white;
    padding: 15px 32px;
    font-family: 'Courier New', Courier, monospace;
    border-width: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.hidden-member-btn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px
}

.hidden-member-btn:active {
    transform: translateY(-4px);
}

.discography-background {
    position: relative;
    background-color: blanchedalmond;
}

.disc-list-style {
    list-style-type: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.discography-container {
    display: flex;
    justify-content: space-evenly;
}

.hiddenDisc {
    display: none;
}

#disc-btn-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-evenly;
}

#btn0 {
    background-color: white;
    padding: 15px 32px;
    font-family: 'Courier New', Courier, monospace;
    border-width: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#btn0:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px
}

#btn0:active {
    transform: translateY(-4px);
}

.hidden-disc-btn{
    background-color: white;
    padding: 15px 32px;
    font-family: 'Courier New', Courier, monospace;
    border-width: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.hidden-disc-btn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px
}

.hidden-disc-btn:active {
    transform: translateY(-4px);
}