body{
    font-family: 'Lato';
}

h1 {
    text-align: center;
    
}

h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
}

h3 {
    position: absolute;
    right: 460px;
    top: 120px;
    font-size: 24px;
}

a {
    text-decoration: none;
}

#nav-style {
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

li {
   text-decoration: none;
}

#picture1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    height: 720px;
    width: 100%;
}

#nav-background {
    padding-top: 10px;
    background-color: lightseagreen;
}

#header {
    background-color: palevioletred;
}

#picture-holder {
    background-color: dodgerblue;
}

.discography-background {
    position: relative;
}

.disc-list-style {
    list-style-type: none;
    font-size: 20px;
    position: absolute;
    right: 425px;
    top: 200px;
    font-size: 18px;
}

.discography-container {
    background-color: chartreuse;
    position: absolute;
    left: 400px;
}

.hiddenDisc {
    display: none;
}